
.gordon{
    width: 100px;
    height: 100px;
}
.logo{
    width: 36px;
    height: 44px;
}

.icon{
    vertical-align: top;
}
#icon{
   align-content: center;
    width: 20px;
    height: 25px;
align-items: center;
    display: inline-block;
    vertical-align: top;
}
.intro{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav{
    margin: 10px;

}
.log{
    vertical-align: top;
    float:right;
}