#wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #ecf0f1;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.sidebar{
    width: 200px;
    height: 100%;
    background-color: #34495e;
    position: absolute;
    top: 0;
}

.name{
    display: flex;
    align-items: center;
    background-color: #2ecc71;
    height: 90px;
    width: 100%;
}
#name{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-decoration: none;
}

.menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #95a5a6;
    padding-left: 27px;
    height: 48px;
    width: 200px;
    transition: all 0.4s ease;
    fill: #95a5a6;
}
.text{
    margin-left: 20px;
}
#ul{
    margin-top: 20px;
    padding: 0;
}
.li{
    list-style-type: none;
    margin-top: 20px;
}
.menu:visited{
    color: #95a5a6;
}
.menu:hover, .svg1:hover{
    color: white;
    fill: #2ecc71;
    background-color: #243342;
}
#avatar{
    height: 48px;
    width: 48px;
    margin-left: 13px;
    margin-right: 13px;
}
#main{
    width: 100%;
    height: 100%;
    margin-left: 200px;
}
#navbar{
    height: 91px;
    width: 100%;
    background-color: white;
    border-bottom: #e5e5e5 1px solid;
}
#content{
    width: 100%;
    height: 100%;
}
#nav{
    width: 100%;
}
#heading{
    width: 100%;
    height: 190px;
    background-color: white;
    border-bottom: #e5e5e5 1px solid;
}
.row2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 345px;
    margin-left: 44px;
    margin-right: 12px;
    margin-top: 36px;
    background-color: #ecf0f1;
}
.row3{
    height: 305px;
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 78px;
    background-color: white;
    border-radius: 3px 3px 3px 3px;
}
.col{
    height: 345px;
    width: 33%;
    background-color: white;
    margin-right: 32px;
    border-radius: 3px 0 3px 3px;
}
.col2{
    height: 305px;
    width: 34%;
    background-color: white;
    border: #dee1e2 1px solid;
    border-radius: 3px 0 0 3px;
}
.col3{
    height: 305px;
    width: 66%;
    background-color: white;
    border-bottom: #dee1e2 1px solid;
    border-top: #dee1e2 1px solid;
    border-right: #dee1e2 1px solid;
    border-radius: 0 3px 3px 0;
}
.small{
    float: left;
    background-color: white;
    width: 50%;
    height: 85px;
    border-top: #dee1e2 1px solid;
    border-left: #dee1e2 1px solid;
    border-radius: 3px 0 0 0;
}
.small1{
    float: right;
    background-color: #ecf0f1;
    width: 50%;
    height: 85px;
    border-bottom: #dee1e2 1px solid;
    border-left: #dee1e2 1px solid;
}
.big{
    width: 100%;
    height: 260px;
    margin-top: 86px;
    background-color: white;
    border-right: #dee1e2 1px solid;
    border-bottom: #dee1e2 1px solid;
    border-left: #dee1e2 1px solid;
    border-radius: 0 0 3px 3px;
}






.gordon{
    margin-top: 18px;
    margin-left: 45px;
    width: 100px;
    height: 100px;
}
.logo{
    position: absolute;
    margin: 23px 1px 0 549px;
    width: 36px;
    height: 44px;
}
.icon{
    margin: 35px 0 0 25px;
    width: 20px;
    height: 25px;
}
.icon1{
    margin: 35px 25px 0 0;
    width: 20px;
    height: 25px;
}
.intro{
    width: 1135px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    border-bottom: 1px solid #e5e5e5;
}

.font{
    font-family: 'Secular One', sans-serif;
    position: absolute;
    margin-top: 35px;
    margin-left: 175px;
    font-size: 16px;
}
.rating-mini {
    position: absolute;
    margin-top: 33px;
    margin-left: 300px;
    font-size: 0;
}
.rating-mini span {


    font-size: 16px;
    line-height: 1;
    color: lightgrey;
}
.rating-mini > span:before {
    content: '★';
}
.rating-mini > span.active {
    color: #e74c3c;
}
.content{
    width: 1135px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    background-color: #ecf0f1;

}
.position {
    width: 325px;
    height: 345px;
    border: #dee1e2 solid 1px;
    background-color: red;
}
.divv{
    background-color: #ecf0f1;
    float: right;
}
.div1{
   margin-left: 44px;
}
.div2{
margin-left: 32px;
}
#left_sidebar{
    width: 200px;
    height: 100%;
}

#left_sidebar:before{
    content: '';
    display: block;
    height: 100%;
    width: 200px;
    position: absolute;
    background-color: #34495e;
}